body {
    display: flex;
    background-color: #f4f6f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.a {
    width: 240px;
    height: 100vh;
    background-color: #003366;
    color: white;
    padding: 20px;
}

.a h2 {
    text-align: center;
    margin-bottom: 30px;
}

.a ul {
    list-style: none;
}

.a ul li {
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}



.logout {
    background-color: #b30000;
}


.main {
    flex: 1;
    padding: 20px;
}

.b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.b h1 {
    color: #333;
}
